telo {
  flex: 1;
  margin: auto;
  overflow: visible;
  padding: 10px;
  display: inline-block;;
  background-color: lightgray;
  width: 650px; 
  height: 400px
}

aside {
  display: block;
  float: right;
  width: 40%;
  margin: 1em;
  padding: 1em;
  visibility: hidden;
}
aside button:last-child {
  float:right;
}

section{
  display: inline-block;
  width: 50%;
  margin: 1em;
  padding: 1em;
}

#meds {
  width: 100%;
}

#meds option {
  margin-bottom: 3px;
  padding:0.2em;
  border: 1px solid grey;
  border-radius: 5px;
}
#ehrid {width:57%;}
#created {
  float: right;
  width: 40%;
}
#errMsg {
  background-color: #87ff6c;
  border-radius: 5px;
  padding:0.2em;
  margin-top: 6px;
  padding-bottom: 0;
  visibility: hidden;
  display:inline;
}

.panel-body img {
  max-width: 100%;
}

.rob {
  border: 1px solid transparent;
  border-color: #BEBEBE;
  border-radius: 4px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}